a {
    color: #0366d6;
    text-decoration: none;
}

a:focus, a:hover {
    text-decoration: underline;
}

.twitch-widget {
    background: #fff;
    box-sizing: border-box;
    color: #262626;
    display: block;
    font-size: .9em;
    height: 64px;
    margin: 0;
    padding: 0;
    position: relative;
    text-decoration: none;
    width: 100%
}

.twitch-widget-list {
    list-style-type: none;
    margin: 0;
    padding: 0
}

.icon {
    float: left;
    margin: 0 10px 0 0
}

.user-name {
    font-size: 1.4em;
    font-weight: bold
}

.online {
    background: red;
    border-radius: 5px;
    display: inline-block;
    height: 10px;
    width: 10px
}

.viewers {
    color: #666;
    display: block;
    font-size: .75em
}
